{
  "repositoryUrl": "https://github.com/kiriyaga/test-worklows.git",
  "branches": "main",
  "debug": true,
  "addReleases": "top",
  "releaseRules": [
    {"breaking": true, "release": "minor"}
  ]
}